@model IEnumerable<SteamTime.Models.SteamGame>
@{
    ViewData["Title"] = "SteamTime";
    ViewData["ImgFormat"] = ".jpg";
}
<div class="container">
    @if (ViewBag.Db)
    {
            <div class="col-lg-12">
                <div class="panel text-center" style="padding: 0px;">
                    <h1>@ViewData["Title"]</h1>
                    <h3 style="padding: 30px;"> Total Hours = <b class="text-success"> @ViewData["TotalPlayedTime"]</b>h</h3>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-default ">
                        <div class="panel-heading text-center align-center" style="height: 180px;">
                            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                            
                            @if (item.HashImgLogo == "NotFound")
                                    {
                                        <img src="https://i.ibb.co/L9c9Vyn/notfound.png"  alt="@Html.DisplayFor(modelItem => item.Name)">
                                    }
                                    else
                                    {
                                        <img src="http://media.steampowered.com/steamcommunity/public/images/apps/@Html.DisplayFor(modelItem => item.AppId)/@Html.DisplayFor(modelItem => item.HashImgLogo)@ViewData["ImgFormat"]" alt="@Html.DisplayFor(modelItem => item.Name)">
                                    }
                        </div>
                        <div class="panel-body">
                            <p>@Html.DisplayNameFor(model => model.AppId): @Html.DisplayFor(modelItem => item.AppId)</p>
                            <p>@Html.DisplayNameFor(model => model.PlayTime): @Html.DisplayFor(modelItem => item.PlayTime)m</p>
                            <p>@Html.DisplayNameFor(model => model.PlayedInLastTwoWeeks) 
                                @if (item.PlayedInLastTwoWeeks)
                                {
                                    <b><span class="text-success">Yes</span></b>
                                }
                                else
                                {
                                    <b><span class="text-danger">No</span></b>
                                }
                                </p>
                        </div>
                    </div>
                </div>
            }
    }
    else
    {
        <div class="col-lg-12 text-center">
            <h1>Create Now your own SteamTime</h1>
            <h2 style="padding-bottom: 300px;">And look how much you have played</h2>
            <a asp-action="Create" class="btn btn-success btn-lg">Create NOW</a>
        </div>
    }
</div>